<nav class="doc-nav panel" aria-label="System 4 documentation">
  <span class="panel-rivet tl"></span>
  <span class="panel-rivet tr"></span>
  <span class="panel-rivet bl"></span>
  <span class="panel-rivet br"></span>
  <span class="eyebrow">System 4 Docs</span>
  <ul>
    <li><a href="/system4/" {{ if eq .RelPermalink "/system4/" }}class="is-active"{{ end }}>Overview</a></li>
    <li><a href="/system4/block_cards/" {{ if eq .RelPermalink "/system4/block_cards/" }}class="is-active"{{ end }}>Block Cards</a></li>
    <li><a href="/system4/throttles/" {{ if eq .RelPermalink "/system4/throttles/" }}class="is-active"{{ end }}>Throttles</a></li>
    <li><a href="/system4/web_control/" {{ if eq .RelPermalink "/system4/web_control/" }}class="is-active"{{ end }}>Web Dispatch</a></li>
  </ul>
</nav>
